.newTodo {
  width: 345px;
}
.todoFlex {
  margin-bottom: 10px;
  display: flex;
  background-color: #f9fafb;
  padding: 16px;
  border-radius: 6px;
  font-size: 14px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.deleteButton {
  padding: 6px 12px;
  font-size: 14px;
  color: #ef4444;
  background-color: #fef2f2;
  border-radius: 6px;
  border: none;
}
.completed {
  text-decoration: line-through;
}
.checkBoxFlex {
  display: flex;
  gap: 10px;
}
